@model Spice.Models.ViewModels.OrderDetailsCartViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<form method="post">
    @if (Model.ListShoppingCarts.Count() > 0)
    {
        <input id="userId" asp-for="@Model.ListShoppingCarts[0].ApplicationUserId" type="hidden" />
        <div class="search_background_white">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-white-50 row">
                        <div class="col-8">
                            <i class="fas fa-shopping-cart"></i> &nbsp;
                            @User.Identity.Name 's Shopping Cart
                        </div>
                        <div class="col-4 text-right">
                            <a class="btn btn-sm btn-success" asp-area="Customer" asp-controller="Home" asp-action="Index">
                                Add More Items
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        @foreach(var item in Model.ListShoppingCarts)
                        {
                            <div class="row">
                                <div class="d-none d-md-block col-2 rounded">
                                    <img class="rounded" src="@item.MenuItem.Image" alt="image of foods that user added to shopping cart" width="120px"/>
                                </div>
                                <div class="col-sm-12 col-md-4 text-center">
                                    <h4>@item.MenuItem.Name</h4>
                                    <p>@item.MenuItem.Description</p>
                                </div>
                                <div class="col-sm-12 col-md-6 text-right row">
                                    <div class="col-5">
                                        <h6>@item.MenuItem.Price <span class="text-muted">x</span> @item.Count</h6>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-success" type="submit" asp-action="Plus" asp-route-cartId="@item.Id">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <button class="btn btn-danger" type="submit" asp-action="Minus" asp-route-cartId="@item.Id">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-outline-danger" type="submit" asp-action="Remove" asp-route-cartId="@item.Id">
                                            Remove
                                        </button>
                                    </div>
                                </div> 
                            </div>
                            <hr />
                            <br />
                        }
                    </div>
                    <div>
                        <div class="col-md-12 row">
                            <div class="col-md-4 col-sm-3">
                                <input asp-for="@Model.OrderHeader.CouponCode" class="form-control" placeholder="Enter a Coupon Code if you have" id="enteredCoupon"/>
                            </div>
                            <div class="col-md-4 col-sm-3">
                                <button type="submit" asp-action="AddCoupon" class="btn btn-outline-info" id="applyCoupon">Apply Coupon</button>
                                <button type="submit" asp-action="RemoveCoupon" class="btn btn-outline-danger" id="removeCoupon" style="display:none;">Remove Coupon</button>
                            </div>
                            <div class="col-md-3 text-right">
                                <h5 class="text-info">Total (USD) <span id="orderTotal">@Model.OrderHeader.OrderTotalOriginal</span></h5>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <br />
                    <div class="card-footer">
                        <div class="col-sm-12 col-md-6 text-right">
                            <a asp-area="Customer" asp-controller="Cart" asp-action="Summary" class="btn btn-success form-control">Summary</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="search_background_white">
            <p>Nothing had been added to your shopping cart</p>
        </div>
    }
</form>

@section Scripts{
    <script>
        const enteredCoupon = document.querySelector('#enteredCoupon');
        const applyCoupon = document.querySelector('#applyCoupon');
        const removeCoupon = document.querySelector('#removeCoupon');
        isCouponEntered();
        function isCouponEntered() {
            let couponData = enteredCoupon.value;
            if (couponData.length > 0) {
                applyCoupon.style.display = "none";
                removeCoupon.style.display = "block";
            } else {
                applyCoupon.style.display = "block";
                removeCoupon.style.display = "none";
            }
        }
    </script>

}

