@model Spice.Models.ShoppingCart
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 class="text-info">Item Order: @Model.MenuItem.Name</h1>
<main class="search_background_white row">
    <div class="col-sm-12 d-md-none">
        <img src="@Model.MenuItem.Image" alt="Food Image" width="100%" />
    </div>
    <br />
    <div class="col-md-8">
        <form asp-action="Details" method="post">
            <input type="hidden" asp-for="MenuItemId" />
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="MenuItem.Name" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input readonly asp-for="MenuItem.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="MenuItem.Description" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    @Html.TextAreaFor(m => m.MenuItem.Description, new { @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="MenuItem.Price" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input readonly asp-for="MenuItem.Price" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="MenuItem.Category.Name" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input readonly asp-for="MenuItem.Category.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="MenuItem.SubCategory.Name" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input readonly asp-for="MenuItem.SubCategory.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="MenuItem.Spicyness" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <div>
                        <select disabled
                                asp-for="MenuItem.Spicyness"
                                asp-items="@Html.GetEnumSelectList<MenuItem.Spicy_Enum>()"
                                class="form-control">
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="Count" class="col-form-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Count" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <a asp-action="Index">Go Back</a>
                </div>
                <div class="col-md-6">
                    <input class="btn btn-success btn-block" type="submit" value="Add to ShoppingCart" />
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-4 d-none d-md-block">
        <img src="@Model.MenuItem.Image" alt="Food Image" width="100%" />
    </div>
</main>



@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea'
        ,   readonly: 1
        });
    </script>
    }