@model Spice.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <style>
        .uiFilterContainer {
            border: 1px solid black;
            border-radius: 0.8rem;
        }
        .menu_filter_list {
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin: 1rem auto;
            padding: 0.2rem;
        }
        .menu_filter_list li {
            border: 1px solid black;
            padding: 0.5rem;
            cursor:pointer;
            border-radius: 0.8rem;
            transition: all 0.2s ease-in-out;
        }
        .menu_filter_list li:hover {
            color: ghostwhite;
            background-color: dimgray;
        }
        .active {
            background-color: gray;
            color: white;
            font-weight: bold;
        }
    </style>


<br />
<button class="btn btn-sm btn-primary displayCoup">Display Available Coupons</button>
<br /><br />

<div class="border displayPossibleCoupon" style="display:none">
    @for (int i = 0; i < Model.Coupon.ToList().Count(); i++)
    {
        <div class="carousel-item">
            @{
                string string64 = Convert.ToBase64String(Model.Coupon.ToList()[i].CouponImage);
                var image = string.Format($"data:image/jpg;base64,{string64}");
            }
        </div>
        <br />
        <img src="@image" alt="Co upon Image" width="80%"/>
    }
</div>
<br /><br />
<div class="uiFilterContainer">
    <ul class="menu_filter_list">
        <li class="active display_all_menu" data-filter="display_all_menu">Show All</li>
        @foreach (var category_list in Model.Category)
        {
            <li class="@category_list.Name.Replace(" ", string.Empty)" data-filter="@category_list.Name.Replace(" ", string.Empty)">
                @category_list.Name
            </li>
        }
    </ul>
</div>
<br /><br />
<main class="search_background_white">
    @foreach(var menuItem in Model.MenuItem)
    {
    <div class="col-12 @menuItem.Category.Name.Replace(" ", string.Empty) display_all_menu display_menus">
        <div class="row">
            <h3 class="text-success">
                @Html.DisplayFor(m => menuItem.Category.Name)
            </h3>
        </div>

        <div class="border rounded border-info" style="padding: 0.8rem;">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <img src="@menuItem.Image" alt="Food Image" width="90%" style="border: 1px solid black; border-radius: 1rem;" />
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col-9">
                            <label class="text-primary" style="font-size:1.2rem; color:maroon">@menuItem.Name</label>
                            @if (menuItem.Spicyness == "0")
                            {
                                <img src="./Images/mild.png" alt="No Spicy" />
                            }
                            else if (menuItem.Spicyness == "1")
                            {
                                <img src="~/Images/mild.png" alt="Mild Spiciness" />
                            }
                            else if (menuItem.Spicyness == "2")
                            {
                                <img src="~/Images/spicy.png" alt="Spicy Level 1">
                            }
                            else
                            {
                                <img src="~/Images/verySpicy.png" alt="Spciy Level2" />
                            }
                        </div>
                        <div class="col-3 text-right">
                            <h4 class="text-danger">$@menuItem.Price</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>@Html.Raw(menuItem.Description)</p>
                    </div>

                </div>
                <div class="col-md-3 offset-md-8 text-right">
                    <a asp-action="Details" asp-route-id="@menuItem.Id" class="btn btn-success form-control">Details</a>
                </div>
            </div>

        </div>
    </div>
        
     <br /><br />
    }
</main>



@section Scripts{ 
    <script>
        const displayCoup = document.querySelector('.displayCoup');
        const menu_filter_lists = document.querySelectorAll('.menu_filter_list li');
        // Event Listener
        displayCoup. addEventListener("click", toggleCoupon);
        for (let i = 0; i < menu_filter_lists.length; i++) {
            menu_filter_lists[i].addEventListener("click", (e) => {
                getFilterValue(e.target);
               
            });
        }
        //console.log(menu_filter_lists);

        // functions
        function getFilterValue(clicked_item) {
            let clicked_filter = clicked_item.getAttribute("data-filter");
            const display_menus = document.querySelectorAll('.display_menus');
            const activeClass = document.querySelectorAll('.menu_filter_list li');

            // change active
            for (let i = 0; i < activeClass.length; i++) {
                console.log(activeClass[i].className);
                if (activeClass[i].classList.contains("active")) {
                    activeClass[i].classList.remove("active");
                }
            }
            clicked_item.classList.add("active");
            // find clicked filter data
            display_menus.forEach(function (menu_item) {
                if (menu_item.classList.contains(clicked_filter)) {
                    menu_item.style.display = "block";
                } else {
                    menu_item.style.display = "none";
                }
            });
        }

        function toggleCoupon() {
            const couponContainer = document.querySelector('.displayPossibleCoupon');
            console.log(couponContainer.getAttribute("style"));
            if (couponContainer.getAttribute("style") == "display:none") {
                couponContainer.setAttribute("style", "display:block");
            } else {
                couponContainer.setAttribute("style", "display:none");
            }
        }

    </script>
} 